@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {background-color:#e5ebec;}

#title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  color: rgb(50, 32, 211);
}

#text1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: rgb(50, 32, 211);
  }


#text2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
}

#arrivalText{
    font-size: large;
    color: rgb(50, 32, 211);
}


#text3{
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: rgb(50, 32, 211);
  }

#australia_arrival_line{
    position: relative;
    top: 70px;
    left: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#barchart_arrivals_countries{
  position: relative;
  top: 200px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#barchart_arrivals_visa{
  position: relative;
  top: 400px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vega-bind{
    position: relative;
    top: 280px;
    right: 550px;
}


