@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {background-color:#a4e3f3;}

#title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
}

#text1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
  }


#text2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
}

#arrivalText{
    font-size: large;
}

#australia_arrival_map{
    position: relative;
    top: 30px;
    right:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text3{
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
  }

#australia_arrival_line3{
    position: relative;
    top: 70px;
    left: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#barchart_arrivals_countries{
  position: relative;
  top: 170px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text4{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  border-style: solid;
  border-radius: 25px;
  border-color: black;
}

#departureText{
  font-size: large;
}

.vega-bind{
    position: relative;
    top: 280px;
    right: 550px;
}


